* {
	padding:0;
	margin:0;
}
   
 *, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {   
	width: 100%;
	height: 100%;
	color: black;
	text-align: center;
	font-family: Arial, sans-serif;
	-moz-font-smoothing:antialiased;
	-moz-text-size-adjust:100%;
	-ms-font-smoothing:antialiased;
	-ms-text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
}

.container {
    background: #FFF;
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
}

.verticalAlign {
	display: table-cell;
	max-width: 650px;
	height: 100%;
	margin: 0 auto;
	vertical-align: middle;
	background: url(https://dl.dropboxusercontent.com/u/3304514/Digital%20Dev/140221/namecard/img/background.jpg) no-repeat;
	background-size: 100%;
}

.info {
	max-width: 500px;
	padding: 80px 0 0 0;
	margin: 0 auto;
}

.title {
	font-size: 60px;
	font-weight: 900;
	cursor: pointer;
	background: url('https://dl.dropboxusercontent.com/u/3304514/Digital%20Dev/140224/img/rainbow.jpg') no-repeat;
	background-position: center center;
	background-size: 130% 180%;
    -webkit-background-clip: text;  
    background-clip: text; 
	color: transparent;
	text-shadow:  0px 0px 0px rgba(255, 255, 255, 0.3);
}

.line {
	width: 92%;
	margin: 20px auto;
	opacity: 0.3;
}

.role {
	font-size: 18px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 20px 0 20px;
	float: left
}

p {
	font-size: 10px;
	text-align: left;
	line-height: 10px;
}

.easterEgg a {
	display: block;
	position: absolute;
	top:0;
	right:0;
	width: 8%;
	height: 8%;
}

li {
	display: inline-block;
	margin: 0 2px;
}

li a {
	display: block;
	width: 35px;
	height: 35px;
	-webkit-border-radius: 35px;
    border-radius: 35px;
	background-size: 140px 70px;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

li a:hover {
	-webkit-box-shadow: 0px 0px 5px 0px #333 inset;
    box-shadow: 0px 0px 5px 0px #333 inset;
	-webkit-transform: translate(0px, -3px);
    -moz-transform: translate(0px, -3px);
    -ms-transform: translate(0px, -3px);
    -o-transform: translate(0px, -3px);
    transform: translate(0px, -3px);
}

li:nth-of-type(1) a {
	background-image: url(https://dl.dropboxusercontent.com/u/3304514/Digital%20Dev/140221/namecard/img/rainbow.png);
	background-position: 0px 0px;
}
li:nth-of-type(1) a:hover {background-position: 0px -35px;}
li:nth-of-type(2) a {
	background-image: url(https://dl.dropboxusercontent.com/u/3304514/Digital%20Dev/140221/namecard/img/rainbow.png);
	background-position: 35px 0px;
}
li:nth-of-type(2) a:hover {background-position: 35px -35px;}
li:nth-of-type(3) a {
	background-image: url(https://dl.dropboxusercontent.com/u/3304514/Digital%20Dev/140221/namecard/img/rainbow.png);
	background-position: 70px 0px;
}
li:nth-of-type(3) a:hover {background-position: 70px -35px;}
li:nth-of-type(4) a {
	background-image: url(https://dl.dropboxusercontent.com/u/3304514/Digital%20Dev/140221/namecard/img/rainbow.png);
	background-position: 105px 0px;
}
li:nth-of-type(4) a:hover {background-position: 105px -35px;}

@media (max-width: 320px) {
	.verticalAlign {
		background-size: 200%;
		background-position: top right;
	}
	.title {
		font-size: 40px;
	}
	.role {
		float: none;		
	}
	.line {
		margin: 10px auto;
	}
	p {
		text-align: center;
		margin: 15px 50px 0 50px;
	}
	.easterEgg a {
		width: 15%;
	}
}